.header{
    height: 120px;
    width: 100%;
    background: #000321;
    border-bottom: 2px solid #D80FC3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header--trabajos{
    height: 120px;
    width: 100%;
    background: #290535;
    border-bottom: 0px solid #B54E03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.header--skills{
    height: 120px;
    width: 100%;
    background: #290535;
    border-bottom: 0px solid #B54E03;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.home--hover{
    color: #f05;
}