

.nav{
    background:#E6E6E6;
    height: 50px;
    margin: 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.trabajosm{
    margin: 0;
    text-align: center;
    font-family: 'Lobster', cursive;
    padding-top: 0.5em;
    color: #8E8E8E;
}
.section--trabajos{
    margin:3em auto;
    width: 95%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    transition: all 0.8s ease;

}
.work{
    width: 400px;
    height: 320px;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    border-bottom-width: 26px;
    border-radius: 3px;
    margin: 0.5em 0.5em 2em 0em;
    font-family: 'Raleway', sans-serif;

    
}
.work--fotter{
    width: 380px;
    height: 24px;
    background: #FBFBFB;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
}
.name--footer{
    color: #C8C8C8;
    font-weight: bold;
    font-style: italic;
}
.purecss--footer{
    color: #DA0000;
    font-weight: normal;
    font-style: italic;
}
.flex--footer{
    color: #002EDA;
    font-weight: normal;
    font-style: italic;
}
.class--footer{
    color: #C8C8C8;
    font-weight: Normal;
    font-style: italic;
}
.thor{
    width: 381px;
}
.iron-man{
    width: 381px;
}
.capitan-america{
    width: 381px;
}
.got-ironthrone{
    width: 381px;
}
.gott-sword{
    width: 381px;
}
.hodoor{
    width: 381px;
}
.astronaut{
    width: 381px;
}
.plut{
    width: 381px;
}
.jupiter{
    width: 381px;
}
.cosmo{
    width: 381px;
}
.bon{
    width: 381px;
}
.dice{
    width: 381px;
}
.tiny{
    width: 381px;
}
.mostly{
    width: 381px;
}
.columndrop{
    width: 381px;
}
.layoutshifter{
    width: 381px;
}
.offcanvas{
    width: 381px;
}

